@import 'tailwindcss';
@tailwind components;
@tailwind utilities;

* {
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: rgba(99, 102, 241, 0.3) rgba(12, 5, 53, 0.356);
}

html,
body {
	overflow-x: hidden;
	overflow-y:hidden;
	scroll-behavior: smooth !important;
}
